<div class="home-callout text-center container-fluid">
  <h1>Welcome to DevMatch</h1>
  <h3>A membership website to matchmake developers.</h3>
</div>
<div class="container home-signup-links">
  <div class="row text-center">
    <div class="col-xs-6">
      <div class="well">
        <h2 class="text-center">Basic Membership</h2>
        <h4>Sign up for free and get basic acess to the community.</h4>
        <br/>
        <br/>
        <%= link_to "Basic Sign Up", "#", class: 'btn btn-primary btn-lg center-block' %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="well">
        <h2 class="text-center">Pro Membership</h2>
        <h4>Become a <strong>Pro</strong> in our community and receive exclusive information for 10€ per month.</h4>
        <br/>
        <%= link_to "Pro Sign Up", "#", class: 'btn btn-success btn-lg center-block' %>
      </div>
    </div>
  </div>
</div>

